.about {
    background-color: var(--color-light-xl);
    padding-top: 80px;
    padding-bottom: 100px;
    width: 100%;
    box-sizing: border-box;
}

.about .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.about-img {
    max-width: 300px;
    height: 408px;
}

.about-img img {
    display: block;
    width: 300px;
    height: 408px;
}

.about-content {
    max-width: 430px;
    display: flex;
    flex-direction: column;
}

.about-content h2 {
    margin-bottom: 25px;
    font-family: var(--font-header);
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.about-content p {
    margin-bottom: 25px;
    font-family: var(--font-main);
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0px;
    color: var(--color-dark-xl);
}
.about-content p:last-child {
    margin-bottom: 0;
}