header {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 90px;
}

.header-nav ul {
    display: flex;
    list-style: none;
    gap: 35px;

}

.header-nav a {
    text-decoration: none;
    color: var(--color-dark-s);
    font-family: var(--font-main);
    font-size: 15px;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
    line-height: 160%;
    cursor: pointer;
}

.header-nav a.active {
    color: var(--color-light-xl);
    border-bottom: 3px solid var(--color-primary);
    pointer-events: none;

}

.header-nav a:hover {
    color: var(--color-light-xl);
    border-bottom: 3px solid var(--color-primary);
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.logo-title {
    font-family: var(--font-header);
    color: var(--color-primary);
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.06em;
    line-height: 110%;
    margin-bottom: 10px;
}

.logo p {
    font-family: var(--font-main);
    color: var(--color-light-xl);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 100%;
}

.burger {
    display: none;
}

@media (max-width: 768px) {
    header {
        padding-top: 30px;
        padding-bottom: 0;
    }

    .header-nav ul {
        margin-left: 80px;
    }

    header .wrapper {
        padding: 0 30px;
    }

}

@media (max-width:767px) {
    .header-nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin: 0;
    }

    .header-nav a {
        font-size: 32px;
        line-height: 160%;
        font-weight: 400;
    }

    .header-nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 320px;
        height: 100vh;
        background-color: var(--color-dark-3xl);
        padding-top: 150px;
        box-sizing: border-box;
        transition: right 0.3s ease;
        z-index: 5;
    }

    .header-nav.open {
        right: 0;
        position:fixed;
    }

    .header-nav.open a {
        color: var(--color-dark-s);
        border-bottom: 3px solid transparent;
    }

    .header-nav.open a:hover{
        color: var(--color-light-s);
        border-bottom: 3px solid var(--color-primary);
    }

    .header-nav.open a.active {
        color: var(--color-light-s);
        border-bottom: 3px solid var(--color-primary);
    }

    .header-nav a.active {
        pointer-events: auto;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        cursor: pointer;
        z-index: 10;
        transition: 0.3s ease;
    }

    .burger.open {
        transform: rotate(90deg);
    }

    .burger span {
        width: 30px;
        height: 2px;
        background-color: var(--color-primary);   
    }

    header .wrapper {
        padding: 0 20px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(41, 41, 41, 0.6);
        z-index: 4;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    .overlay.open {
        opacity: 1;
        pointer-events: auto;
    }

    .logo {
        transition: color 0.3s ease;
    }
    .logo.open .logo-title{
        color: var(--color-primary);
    }
    .logo.open p {
        color: var(--color-light-xl);
    }
}