@import "./css/vars.css";
@import "./css/header.css";
@import "./css/main-block.css";
@import "./css/about.css";
@import "./css/friends.css";
@import "./css/footer.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/*
body {
    cursor: url(./assets/icons/icon.png), default;
}

a,
button,
.promo-btn,
.btn-primary,
.btn-secondary,
.header-nav a  {
    cursor: url('./assets/icons/icon-hover.png'), default;
}
*/

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    padding: 0 40px;
}