.pets-header-wrapper {
    background-color: var(--color-light-xl);
}

.pets-header-wrapper .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.pets-header-wrapper .header-nav a {
    color: var(--color-dark-3xl);
}

.pets-header-wrapper .header-nav a.active,
.pets-header-wrapper .header-nav a:hover {
    color: var(--color-dark-3xl);
    border-bottom: 3px solid var(--color-primary);
}

.pets-header-wrapper .logo p {
    color: var(--color-dark-2xl);
}

.pets-page {
    background-color: var(--color-light-l);
    padding-top: 80px;
    padding-bottom: 100px;
}

.pets-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.pets-title {
    font-family: var(--font-header);
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    text-align: center; 
    margin-top: 0;
    margin-bottom: 60px;
}

.pagination {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin-top: 60px;
}
